.container {
    width: 560px;
    height: 850px;
    background-color: #262626;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
     width: 48px;
     height: 60px;
     /*background-color: aqua;*/
     position: fixed;
     top: 32px;
     left:484px;
     z-index: 5;
}

.title{
    width: 340px;
    height: 100px;
    /*background-color: lightgoldenrodyellow;*/
    position: fixed;
    top: -20px;
    left: 28px;
    z-index: 5;
    font-family: 'Staatliches', cursive;
    font-size:30pt;
    line-height: 1.7em;
    font-kerning: none;
    color:white;

}

.source {
    width: 100px;
    height: 60px;
    /*background: darkgreen;*/
    position: fixed;
    top:32px;
    left: 372px;
    text-align: right;
    color: #2295D3;
    font-family: 'Lato', sans-serif;
    font-size: 9.5pt;
    z-index: 5;
}

.credit {
    line-height: 0.3em;
    font-weight:900;
}

.slide-container{
    width: 2240px;
}

.slide {
    width: 560px;
    height: 900px;
    position: absolute;
}

#slide-0 {
    background-color: #262626;
    left: 0px;
}

#slide-tebak {
    background-color: #262626;
    left: 560px;
}

#slide-1 {
    background-color: #262626;
    left: 1120px;
}

#slide-2 {
    background-color: #262626;
    left: 1680px;
}

#slide-3 {
    background-color: #262626;
    left: 2240px;
}

.orange {
    color: orange;
}


.mappluit {
    position: absolute;
    top:108px;
    width:255px;
    left:94px;
    opacity:0;
}

.mappluit.animate {
    animation-name: map-pluit;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.map {
    position:absolute;
    top:150px;
    left: 0px;
    z-index: 2;
    pointer-events: none;
}

.map.animate {
    animation-name: map-zoom;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.j17 {
    position: absolute;
    top:380px;
    left: 50%;
    margin-left: -60px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    opacity: 0;
    color: white;
}

.j17.animate {
    animation-name: j17;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.pluit-text {
    position: absolute;
    top:200px;
    left: 315px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: -60px;
    opacity: 0;
    color: white;
    z-index: 2;
}

.sml {
    font-size: 12px;
}

.pluit-text.animate {
    animation-name: pluit-text;
    animation-duration: 4.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.jakarta {
    fill:none;
    stroke:white;
    stroke-width:2.5;
    stroke-linecap:round;
    stroke-linejoin:round;
    opacity: 0;
}
.map1{
    position: absolute;
    top:150px;
    opacity: 1;
}
.jakarta1 {
    position:absolute;
    top: 150px;
    fill: orangered;
}

.pluit1 {
    opacity: 0;
}

.jakarta.animate {
    animation-name: jakarta-stroke;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.pluit {
    fill:none;
    stroke:orange;
    stroke-width:2.5;
    stroke-linecap:round;
    stroke-linejoin:round;

}

.pluit.animate {
    animation-name: pluit-stroke;
    animation-duration: 6.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes map-pluit {
    0% {
        width: 690px;
        top: -85px;
        left: -55px;
        opacity:0;
    }
    100% {
        width: 690px;
        top: -85px;
        left: -55px;
        opacity:1;
    }
}

@keyframes map-zoom {
    0% {
        top:150px;
        left:0px;
        width: 560px;
    }
    100% {
        top: -20px;
        left: -300px;
        width: 1500px;
    }
}

@keyframes j17 {
    0%{
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pluit-text {
    0% {
        opacity: 0;
        top: 200px;
        left: 315px;
    }
    16% {
        opacity: 0;
    }
    32% {
        opacity: 1;
        top: 200px;
        left: 315px;
    }
    100% {
        opacity: 1;
        top: 110px;
        left: 410px;
    }
}

@keyframes jakarta-stroke {
    0% {
        opacity: 0;
    }
    40% {
        opacity:1;
    }
    100% {
        opacity: 1;
    }
}


@keyframes pluit-stroke {
    0% {
    }
    58% {
        stroke-width: 2.5;
    }
    100% {
        stroke-width: 1;
    }
}

#button {
    top: 380px;
    /*background-color: orangered;*/
    position: absolute;
    left:50%;
    color: white;
    margin-left: -81px;
    text-align: center;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
    transition: 0.5s;
}

#tebak {
    top: 380px;
    /*background-color: orangered;*/
    position: absolute;
    left:50%;
    color: white;
    margin-left: -118.5px;
    text-align: center;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
    transition: 0.5s;
}

#replay{
    top: 180px;
    background-color: #666666;
    position: absolute;
    left:30px;
    color: lightgray;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 20s;
}

h3{
    font-family: 'Lato', sans-serif;
    color: white;
    margin-bottom: -15px;
    font-weight: 800;
}

.text-1 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 14px;
    position: absolute;
    left:30px;
    top:330px;
    opacity: 0;
}

.text-1.animate {
    animation-name: text-1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

.text-2 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 14px;
    position: absolute;
    text-align: right;
    top:760px;
    left: 330px;
    opacity: 0;
}

.text-2.animate {
    animation-name: text-2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes text-1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes text-2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.next {
    font-family: 'Anonymous Pro', monospace;
    color: white;
    font-size: 50px;
    position: fixed;
    text-align: right;
    top:425px;
    left: 519px;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
}

.next:hover {
    transition-duration: 1s;
    opacity: 1;
}

.previous{
    font-family: 'Anonymous Pro', monospace;
    color: white;
    font-size: 50px;
    position: fixed;
    text-align: right;
    top:425px;
    left: 33px;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
}

.previous:hover {
    transition-duration: 1s;
    opacity: 1;
}

.text {
    position:absolute;
    top: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 80%;
    color:white;
    margin-left: 56px;
}

.small {
    font-size: 14px;
    color: orange;
}

.slider {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    position: absolute;
    top: 470px;
    width: 80%;
    height: 2px;
    margin-left: 56px;
    background: #333333;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width:15px;
    height:15px;
    border-radius: 8px;
    background: #666666;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
    width:15px;
    height:15px;
    border-radius: 8px;
    background: #666666;
    cursor: pointer;
}

.slider::-ms-thumb {
    width:15px;
    height:15px;
    border-radius: 8px;
    appearance: none;
    background: #666666;
    cursor: pointer;
}

.txtpersen {
    color: white;
    font-family: 'Lato', sans-serif;
}

.buttoncheck {
    background: orange;
    border-radius: 5px;
    color: #262626;
    text-align: center;
    padding: 8px;
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    top: 500px;
    left: 394px;
    cursor: pointer;
}

#bc-1 {
    opacity: 0;
}

#bc-2 {
    opacity: 0;
}

#bc-3 {
    opacity: 0;
}

.jawaban {
    position: absolute;
    font-family: 'Lato', sans-serif;
    color: white;
    left:56px;
    pointer-events: none;
}

.jawaban h1 {
    font-weight: 900;
    margin-bottom: 5px;
}

#j1 {
    top:460px;
    opacity: 0;
}

#j1 h1 {
    color:orangered;
}

#j2 {
    top: 540px;
    opacity: 0;
}

#j2 h1 {
    color:darkorange;
}

#j3 {
    top:460px;
    opacity: 0;
}

#j3 h1 {
    color:orangered;
}

#j4 {
    top: 540px;
    opacity: 0;
}

#j4 h1 {
    color:darkorange;
}

#j5 {
    top:620px;
    opacity: 0;
}

#j5 h1 {
    color:orange;
}

#j6 {
    top: 700px;
    opacity: 0;
}

#j6 h1 {
    color:lightsalmon;
}

#j7 {
    top:460px;
    opacity: 0;
}

#j7 h1 {
    color:orangered;
}

#j8 {
    top: 540px;
    opacity: 0;
}

#j8 h1 {
    color:darkorange;
}

#j9 {
    top:620px;
    opacity: 0;
}

#j9 h1 {
    color:orange;
}

.hiroshi {
    width: 240px;
    position: absolute;
    top: 430px;
    left: 35px;
    pointer-events: none;
    opacity: 0;
}
