@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#map {
    width: 100%;
    height: 100%;
}

hr {
    border: solid 1px lightgray;
}

#button {
    padding: 15px;
    width: 100px;
    background-color: white;
    color: antiquewhite;
    font-family: sans-serif;
    position: absolute;
    z-index: 999999;
    text-align: center;
    cursor: pointer;

}

.container {
    position: relative;
    overflow: hidden;
}

.control1 {
    background-color: white;
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 600;
    bottom: -350px;
    font-family: Lato, sans-serif;
    border-radius: 15px 15px 0px 0px;

    transition-duration: 0.5s;
}

.control2 {
    background-color: white;
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 600;
    bottom: -350px;
    font-family: Lato, sans-serif;
    border-radius: 15px 15px 0px 0px;

    transition-duration: 0.5s;
}

.menu {
    -webkit-box-shadow: 0px -2px 23px -10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -2px 23px -10px rgba(0,0,0,0.15);
    box-shadow: 0px -2px 23px -10px rgba(0,0,0,0.15);
    border-top: solid 1px lightgray;
    background-color: white;
    width: 100%;
    height: 75px;
    position: absolute;
    z-index: 605;
    bottom: 0px;
    display:flex;
    justify-content: center;
    font-family: Lato, sans-serif;
}

.select-menu {
    background-color: white;
    width: 60px;
    height: 60px;
    margin-right: 100px;
    margin-left: 100px;
    display: grid;
    place-items: center;

}

.icon {
    background-color: white;
    width: 35px;
    height: 35px;
}

.ico-text {
    background-color: white;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #444444;
}

.extent {
    background-color: white;
    width: 60px;
    height:60px;
    border-radius: 30px;
    position: absolute;
    right: 32px;
    bottom: 107px;
    z-index: 605;
    transition-duration: 0.5s;
    cursor: pointer;

}

.down1 {
    background-color: white;
    width: 25%;
    text-align: center;
    height: 20px;
    position: absolute;
    left: 210px;
    cursor: pointer;
}

.down2 {
    background-color: white;
    width: 25%;
    text-align: center;
    height: 20px;
    position: absolute;
    left: 210px;
    cursor: pointer;
}

.content {
    width: 70%;
    height: 260px;
    background-color: white;
    position: absolute;
    top: 20px;
    left:84px;
}

.ket {
    background-color: white;
    margin-bottom: 7px;
}

.num {
    font-size: 20pt;
    font-weight: 600;
    text-align: right;
    width: 170px;
}

.inner-content {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.left {
    background-color: lightgrey;
    border-radius: 84px;
    width: 168px;
    height:168px;
}

.right {
    margin-left: 25px;
}

.sub {
    font-weight: 300;
}

.kota {
    font-size: 14pt;
    margin-bottom: 5px;
    font-weight: 600;
}

.prov {
    font-size: 12pt;
    font-weight: 300;
}

hr {
    margin: 3px;
}

#search {
    cursor: pointer;
}

#result {
    cursor: pointer;
}

.search-select{
    width:100%;
    border-radius: 10px;
    padding-left: 10px;
    border-color: lightgray;
}

.select-container {
    margin: 10px;
}

.startsearch {
    background-color: #2196F3;
    text-align: center;
    width: 100px;
    padding: 5px; 
    float: right;
    border-radius: 5px;
    cursor: pointer;   
    color: white;
}

.subselect {
    font-weight: 600;
}

.omnibus {
    transition: all;
    transition-duration: 0.5s;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    z-index: 700;
    bottom: 107px;
    left: 32px;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*SVG ELEMENTS*/
.svg-extent {
    fill:none;
    stroke:#444444;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:4px;
}

.svg-search {
    fill:none;
    stroke:#444444;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:4px;
}

.svg-result {
    fill:#444444;
}

.svg-down {
    fill:none;
    stroke:#444444;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:4px;
}

@media (max-width:500px) {
    .omnibus{
        font-size: 10pt;
        left: 20px;
        bottom: 95px;
    }

    .content {
        width: 90%;
        height: 260px;
        background-color: white;
        position: absolute;
        top: 20px;
        left:16.5px;
    }

    .down1 {
        left: 137.625px;
    }
    
    .down2 {
        left: 137.625px;
    }

    .left {
        display: none;
    }

    .right {
        width: 100%;
        margin: 0px;
    }

    .select-menu {
        background-color: white;
        width: 50px;
        height: 50px;
        margin-right: 50px;
        margin-left: 50px;
        display: grid;
        place-items: center;
    }

    .ico-text {
        font-size: 10pt;
    }

    .extent {
        width: 50px;
        height: 50px;
        right: 20px;
        bottom: 95px;
    }

    .ket {
        padding-left: 75px;
    }

    .legend {
        line-height: 12px;
        font-size:8pt;
    }
    .legend i {
        width: 12px;
        height: 12px;
    }
}

.legend {
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    line-height: 18px;
    font-family: Lato, sans-serif;
    font-weight: 600;
    color: #444444;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.icon-1 {
    position: absolute;
    opacity: 0;
}

.icon-2 {
    position: absolute;
    opacity: 0;
}

.icon-3 {
    position: absolute;
    opacity: 0;
}

.icon-4 {
    position: absolute;
    opacity: 0;
}

.icon-5 {
    position: absolute;
    opacity: 0;
}

.icon-6 {
    position: absolute;
    opacity: 0;
}

.icon-7 {
    position: absolute;
    opacity: 0;
}

.icon-8 {
    position: absolute;
    opacity: 0;
}