@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
}

.container {
    position: relative;
    overflow: hidden;
    max-width: 560px;
}

#table {
    font-family: 'Lato', sans-serif;
}

.search {
    font-family: 'Lato', sans-serif;
}

.logo {
    width: 48px;
    height: 60px;
}

.title {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.title>h2{
    font-weight: 800;
}

.credit-container {
    font-family: 'Lato';
    display: flex;
    margin-bottom: 1rem;
}

.source {
    text-align: right;
    font-size: 0.8rem;
    margin-right: 0.4rem;
}


@media (max-width:500px) { /*MOBILE*/
    .container {
        position: relative;
        overflow: hidden;
        max-width: 367px;
    }

}

