.container {
    width: 560px;
    height: 850px;
    background-color: #eeeeee;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
     width: 48px;
     height: 60px;
     /*background-color: aqua;*/
     position: fixed;
     top: 32px;
     left:484px;
     z-index: 5;
}

.source {
    width: 100px;
    height: 60px;
    /*background: darkgreen;*/
    position: fixed;
    top:32px;
    left: 372px;
    text-align: right;
    color: #D40000;
    font-family: 'Lato', sans-serif;
    font-size: 9.5pt;
    z-index: 5;
}

.credit {
    line-height: 0.3em;
    font-weight:900;
}

.title{
    width: 340px;
    height: 100px;
    /*background-color: lightgoldenrodyellow;*/
    position: fixed;
    top: 10px;
    left: 28px;
    z-index: 5;
    font-family: 'Staatliches', cursive;
    font-size:12pt;
    line-height: 1.7em;
    font-kerning: none;
    color:black;
}

.slide-tahun {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    position: absolute;
    left: 28px;
    z-index: 4;
    top: 770px;
    width: 90%;
    height: 4px;
    background: #262626;
    border-radius: 10px;
}

.slide-tahun::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width:18px;
    height:18px;
    border-radius: 13px;
    background: #D40000;
    cursor: pointer;
}

.slide-tahun::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
    width:18px;
    height:18px;
    border-radius: 13px;
    background: #D40000;
    cursor: pointer;
}

.slide-tahun::-ms-thumb {
    width:18px;
    height:18px;
    border-radius: 13px;
    appearance: none;
    background: #D40000;
    cursor: pointer;
}

.tahun {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 900;
    font-size: 30pt;
    position: absolute;
    top: 710px;
    left: 440px;
    z-index: 5;
    text-align: right;
}

#svg {
    position:absolute;
    left:0;
}

.jakarta-bg {
    width: 560px;
    position: absolute;
}

.subsiden {
    width: 560px;
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 3;
    opacity: 0.8;
    filter: brightness(0.8) contrast(1.4);
}

.jakarta-over {
    width: 560px;
    position: absolute;
    z-index: 2;
}

#year {
    font-family: 'Lato', sans-serif;
    opacity: 1;
}

.play {
    background: #D40000;
    color: #262626;
    border-radius: 15px;
    position: absolute;
    width:30px;
    top: 720px;
    left: 68px;
    z-index:6;
    cursor: pointer;
}

.prev {
    background: #D40000;
    color: #262626;
    border-radius: 15px;
    position: absolute;
    width:30px;
    top: 720px;
    left: 28px;
    z-index:6;
    cursor: pointer;
}

.next {
    background: #D40000;
    color: #262626;
    border-radius: 15px;
    position: absolute;
    width:30px;
    top: 720px;
    left: 108px;
    z-index:6;
    cursor: pointer;
}
