.container {
    width: 560px;
    height: 560px;
    background-color: white;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
     width: 48px;
     height: 60px;
     /*background-color: aqua;*/
     position: fixed;
     top: 32px;
     right : 5%;
     z-index: 5;
}

.source {
    width: 100px;
    height: 60px;
    /*background: darkgreen;*/
    position: fixed;
    top:32px;
    right: 17%;
    text-align: right;
    color: #EC1366;
    font-family: 'Lato', sans-serif;
    font-size: 9.5pt;
    z-index: 5;
}

.credit {
    line-height: 0.3em;
    font-weight:900;
}

.title{
    width: 340px;
    height: 100px;
    /*background-color: lightgoldenrodyellow;*/
    position: fixed;
    top: 10px;
    left: 28px;
    z-index: 5;
    font-family: 'Staatliches', cursive;
    font-size:12pt;
    line-height: 1.7em;
    font-kerning: none;
    color:black;
}

.slide-tahun {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    position: absolute;
    left: 28px;
    z-index: 4;
    top: 94%;
    width: 90%;
    height: 4px;
    background: #262626;
    border-radius: 10px;
}

.slide-tahun::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width:18px;
    height:18px;
    border-radius: 13px;
    background: #EC1366;
    cursor: pointer;
}

.slide-tahun::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
    width:18px;
    height:18px;
    border-radius: 13px;
    background: #EC1366;
    cursor: pointer;
}

.slide-tahun::-ms-thumb {
    width:18px;
    height:18px;
    border-radius: 13px;
    appearance: none;
    background: #EC1366;
    cursor: pointer;
}

.tahun {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 900;
    font-size: 30pt;
    position: absolute;
    top: 710px;
    right: 5%;
    z-index: 5;
    text-align: right;
}

#svg {
    position:absolute;
    left:0;
}


.subsiden {
    width: 100%;
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 3;
    opacity: 0.8;
    filter: brightness(0.8) contrast(1.4);
}


#year {
    font-family: 'Lato', sans-serif;
    opacity: 1;
    font-size: 0.5em;
}

.play {
    background: #EC1366;
    color: #262626;
    border-radius: 15px;
    position: absolute;
    width:30px;
    top: 85%;
    left: 68px;
    z-index:6;
    cursor: pointer;
}

.prev {
    background: #EC1366;
    color: #262626;
    border-radius: 15px;
    position: absolute;
    width:30px;
    top: 85%;
    left: 28px;
    z-index:6;
    cursor: pointer;
}

.next {
    background: #EC1366;
    color: #262626;
    border-radius: 15px;
    position: absolute;
    width:30px;
    top: 85%;
    left: 108px;
    z-index:6;
    cursor: pointer;
}

@media (max-width: 370px) {
    .container {
        width:100%;
    }

    .jakarta-bg {
        width: 100%;
    }

    .subsiden {
        width: 100%;
    }

    .jakarta-over {
        width: 100%;
    }

    .slide-tahun {
        top: 86%;
    }

    .play {
        top: 78%;
    }
    
    .prev {
        top: 78%;
    }
    
    .next {
        top: 78%;
    }
}
